Repository Sallvainian/BMAD-Studio: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, biome, typecheck

Path conditions:
  version-sync: any of: ^package\.json$
  biome: any of: ^apps/desktop/.*\.(ts|tsx|js|jsx|json)$
  typecheck: any of: ^apps/desktop/.*\.(ts|tsx)$

memory system
  apps/desktop/src/main/ai/memory/__tests__/embedding-service.test.ts
  apps/desktop/src/main/ai/memory/__tests__/injection/memory-stop-condition.test.ts
  apps/desktop/src/main/ai/memory/__tests__/injection/planner-memory-context.test.ts
  apps/desktop/src/main/ai/memory/__tests__/injection/qa-context.test.ts
  apps/desktop/src/main/ai/memory/__tests__/injection/step-injection-decider.test.ts
  apps/desktop/src/main/ai/memory/__tests__/memory-service.test.ts
  apps/desktop/src/main/ai/memory/__tests__/retrieval/pipeline.test.ts
  apps/desktop/src/main/ai/memory/embedding-service.ts
  apps/desktop/src/main/ai/memory/memory-service.ts
  apps/desktop/src/main/ai/memory/types.ts
  apps/desktop/src/main/ipc-handlers/context/memory-data-handlers.ts
  apps/desktop/src/main/ipc-handlers/context/memory-status-handlers.ts
  apps/desktop/src/main/terminal/pty-manager.ts
  apps/desktop/src/preload/api/project-api.ts
  apps/desktop/src/renderer/components/context/Context.tsx
  apps/desktop/src/renderer/components/context/MemoriesTab.tsx
  apps/desktop/src/renderer/components/context/MemoryCard.tsx
  apps/desktop/src/renderer/components/github-prs/GitHubPRs.tsx
  apps/desktop/src/renderer/lib/mocks/context-mock.ts
  apps/desktop/src/renderer/stores/context-store.ts
  apps/desktop/src/renderer/stores/github/pr-review-store.ts
  apps/desktop/src/shared/constants/ipc.ts
  apps/desktop/src/shared/i18n/locales/en/common.json
  apps/desktop/src/shared/i18n/locales/fr/common.json
  apps/desktop/src/shared/types/ipc.ts
Due: biome, typecheck

fix(test): make test_merge_preview_command resilient to StatusManager warnings
  tests/test_cli_main.py
Due: none

fix(test): fix failing tests after Vercel AI SDK migration
  apps/desktop/src/renderer/components/AuthStatusIndicator.test.tsx
  apps/desktop/src/renderer/components/github-issues/components/__tests__/GitHubErrorDisplay.test.tsx
  apps/desktop/src/renderer/components/github-issues/utils/github-error-parser.ts
  apps/desktop/src/renderer/components/github-prs/components/__tests__/PRDetail.integration.test.tsx
  apps/desktop/src/renderer/components/github-prs/components/__tests__/ReviewStatusTree.test.tsx
  apps/desktop/src/renderer/components/settings/ProfileList.test.tsx
  apps/desktop/src/renderer/components/settings/terminal-font-settings/__tests__/FontConfigPanel.test.tsx
  apps/desktop/src/renderer/components/settings/terminal-font-settings/__tests__/PresetsPanel.test.tsx
  apps/desktop/src/renderer/components/settings/terminal-font-settings/__tests__/TerminalFontSettings.test.tsx
  pnpm-lock.yaml
Due: biome, typecheck

chore(ci): update GitHub Actions to latest versions
  .github/workflows/quality-security.yml
Due: none

chore(backend): clean up unused imports in BMAD modules
  apps/backend/bmad/__init__.py
  apps/backend/spec/phases/bmad_phases.py
Due: none

test(spec): add BMAD phase routing tests and fix non-BMAD params
  tests/test_spec_complexity.py
Due: none

feat(terminal): detect and sync Claude Code worktree switches
  apps/frontend/src/main/terminal/claude-integration-handler.ts
  apps/frontend/src/main/terminal/output-parser.ts
  apps/frontend/src/main/terminal/terminal-event-handler.ts
Due: none

fix(terminal): improve PTY env filtering and xterm fit logic
  apps/frontend/src/main/terminal/pty-manager.ts
  apps/frontend/src/main/terminal/terminal-lifecycle.ts
  apps/frontend/src/renderer/components/Terminal.tsx
  apps/frontend/src/renderer/components/terminal/usePtyProcess.ts
  apps/frontend/src/renderer/components/terminal/useXterm.ts
Due: none

fix(kanban): reconcile task state from disk when IPC events are missed
  apps/frontend/src/renderer/App.tsx
  apps/frontend/src/renderer/components/TaskCard.tsx
  apps/frontend/src/renderer/hooks/useTaskReconciliation.ts
  apps/frontend/src/renderer/stores/task-store.ts
Due: none

fix(kanban): add diagnostic logging for missed IPC status events
  apps/frontend/src/main/ipc-handlers/agent-events-handlers.ts
  apps/frontend/src/main/ipc-handlers/utils.ts
  apps/frontend/src/main/task-state-manager.ts
Due: none

chore: bump version to 2.7.15
  CHANGELOG.md
  apps/backend/__init__.py
  apps/frontend/package.json
  package.json
Due: version-sync

chore(ci): target develop branch for prepare-release workflow
  .github/workflows/prepare-release.yml
Due: none

docs: rebrand Auto Claude to Aperant in README
  README.md
Due: none

docs: update README beta download links to 2.8.0-beta.4
  README.md
Due: none

fix: harden CI/CD with coverage enforcement, eliminate Python, add 22 test files (#1945)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  apps/desktop/package.json
  apps/desktop/src/main/ai/auth/__tests__/resolver.test.ts
  apps/desktop/src/main/ai/auth/__tests__/types.test.ts
  apps/desktop/src/main/ai/client/__tests__/factory.test.ts
  apps/desktop/src/main/ai/mcp/__tests__/client.test.ts
  apps/desktop/src/main/ai/mcp/__tests__/registry.test.ts
  apps/desktop/src/main/ai/orchestration/__tests__/parallel-executor.test.ts
  apps/desktop/src/main/ai/orchestration/__tests__/qa-loop.test.ts
  apps/desktop/src/main/ai/orchestration/__tests__/qa-reports.test.ts
  apps/desktop/src/main/ai/orchestration/__tests__/recovery-manager.test.ts
  apps/desktop/src/main/ai/runners/__tests__/changelog.test.ts
  apps/desktop/src/main/ai/runners/__tests__/commit-message.test.ts
  apps/desktop/src/main/ai/runners/__tests__/ideation.test.ts
  apps/desktop/src/main/ai/runners/__tests__/insight-extractor.test.ts
  apps/desktop/src/main/ai/runners/__tests__/insights.test.ts
  apps/desktop/src/main/ai/runners/__tests__/merge-resolver.test.ts
  apps/desktop/src/main/ai/runners/__tests__/roadmap.test.ts
  apps/desktop/src/main/ai/tools/builtin/__tests__/bash.test.ts
  apps/desktop/src/main/ai/tools/builtin/__tests__/edit.test.ts
  apps/desktop/src/main/ai/tools/builtin/__tests__/glob.test.ts
  apps/desktop/src/main/ai/tools/builtin/__tests__/grep.test.ts
  apps/desktop/src/main/ai/tools/builtin/__tests__/read.test.ts
  apps/desktop/src/main/ai/tools/builtin/__tests__/write.test.ts
  apps/desktop/vitest.config.ts
  package-lock.json
  scripts/update-readme.mjs
  scripts/update-readme.py
  scripts/update-readme.test.mjs
Due: biome, typecheck

fix: skip onboarding for profiles + terminal shortcuts (#1949)
  apps/desktop/src/main/__tests__/ensure-onboarding-complete.test.ts
  apps/desktop/src/main/terminal/cli-integration-handler.ts
  apps/desktop/src/main/terminal/types.ts
  apps/desktop/src/preload/api/terminal-api.ts
  apps/desktop/src/renderer/components/ProjectTabBar.tsx
  apps/desktop/src/renderer/components/settings/AuthTerminal.tsx
  apps/desktop/src/shared/types/ipc.ts
Due: biome, typecheck

fix: skip Claude onboarding for profiles + prevent duplicate accounts (#1952)
  apps/desktop/src/main/__tests__/ensure-onboarding-complete.test.ts
  apps/desktop/src/main/ipc-handlers/settings-handlers.ts
  apps/desktop/src/preload/api/terminal-api.ts
  apps/desktop/src/renderer/components/settings/AddAccountDialog.tsx
  apps/desktop/src/renderer/lib/mocks/terminal-mock.ts
  apps/desktop/src/shared/constants/ipc.ts
  apps/desktop/src/shared/i18n/locales/en/common.json
  apps/desktop/src/shared/i18n/locales/en/settings.json
  apps/desktop/src/shared/i18n/locales/fr/common.json
  apps/desktop/src/shared/i18n/locales/fr/settings.json
  apps/desktop/src/shared/types/ipc.ts
Due: biome, typecheck

fix(build): bundle hoisted packages to fix ERR_MODULE_NOT_FOUND in production
  apps/desktop/electron.vite.config.ts
Due: biome, typecheck

docs(bmad-migration): commit operating contract + Phase 0 deliverables
  ENGINE_SWAP_PROMPT.md
  apps/desktop/docs/bmad-migration/DECISIONS.md
  apps/desktop/docs/bmad-migration/INVENTORY.md
Due: none

feat(bmad): Phase 1 — installer integration + manifest/skill discovery
  ENGINE_SWAP_PROMPT.md
  apps/desktop/docs/bmad-migration/DECISIONS.md
  apps/desktop/docs/bmad-migration/PHASE-1-NOTES.md
  apps/desktop/package.json
  apps/desktop/src/main/ai/bmad/__tests__/config-resolver.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/customization-resolver.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/file-watcher.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/installer.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/manifest-loader.test.ts
  apps/desktop/src/main/ai/bmad/config-resolver.ts
  apps/desktop/src/main/ai/bmad/customization-resolver.ts
  apps/desktop/src/main/ai/bmad/file-watcher.ts
  apps/desktop/src/main/ai/bmad/installer.ts
  apps/desktop/src/main/ai/bmad/manifest-loader.ts
  apps/desktop/src/main/ai/bmad/module-registry.ts
  apps/desktop/src/main/ai/bmad/skill-registry.ts
  apps/desktop/src/main/ipc-handlers/bmad-handlers.ts
  apps/desktop/src/main/ipc-handlers/index.ts
  apps/desktop/src/preload/api/bmad-api.ts
  apps/desktop/src/preload/api/index.ts
  apps/desktop/src/renderer/lib/browser-mock.ts
  apps/desktop/src/shared/constants/ipc.ts
  apps/desktop/src/shared/i18n/index.ts
  apps/desktop/src/shared/i18n/locales/en/bmad.json
  apps/desktop/src/shared/i18n/locales/fr/bmad.json
  apps/desktop/src/shared/types/bmad.ts
  apps/desktop/src/shared/types/index.ts
  apps/desktop/src/shared/types/ipc.ts
  package-lock.json
Due: biome, typecheck

chore(bmad): Phase 1 hardening — log D-007 + D-008, reconcile prompt to codebase
  ENGINE_SWAP_PROMPT.md
  apps/desktop/docs/bmad-migration/DECISIONS.md
  apps/desktop/src/main/ai/bmad/customization-resolver.ts
Due: biome, typecheck

feat(bmad): Phase 2 — workflow runtime + orchestrator + IPC
  .gitignore
  .prettierignore
  apps/desktop/docs/bmad-migration/DECISIONS.md
  apps/desktop/docs/bmad-migration/PHASE-2-NOTES.md
  apps/desktop/src/main/ai/bmad/__tests__/help-runner.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/orchestrator.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/persona.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/sprint-status.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/step-loader.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/variables.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/workflow-runner-smoke.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/workflow-runner.test.ts
  apps/desktop/src/main/ai/bmad/help-runner.ts
  apps/desktop/src/main/ai/bmad/orchestrator.ts
  apps/desktop/src/main/ai/bmad/persona.ts
  apps/desktop/src/main/ai/bmad/sprint-status.ts
  apps/desktop/src/main/ai/bmad/step-loader.ts
  apps/desktop/src/main/ai/bmad/variables.ts
  apps/desktop/src/main/ai/bmad/workflow-runner.ts
  apps/desktop/src/main/ipc-handlers/bmad-handlers.ts
  apps/desktop/src/preload/api/bmad-api.ts
  apps/desktop/src/renderer/lib/browser-mock.ts
  apps/desktop/src/shared/constants/ipc.ts
  apps/desktop/src/shared/i18n/locales/en/bmad.json
  apps/desktop/src/shared/i18n/locales/fr/bmad.json
  apps/desktop/src/shared/types/bmad.ts
Due: biome, typecheck

docs(bmad): restore prompt XML tags + add reviewer handoff
  ENGINE_SWAP_PROMPT.md
  apps/desktop/docs/bmad-migration/REVIEWER-HANDOFF.md
Due: none

feat(bmad): Phase 3 — Kanban board (the headline differentiator)
  apps/desktop/docs/bmad-migration/DECISIONS.md
  apps/desktop/docs/bmad-migration/PHASE-3-NOTES.md
  apps/desktop/src/main/ai/bmad/__tests__/file-watcher.test.ts
  apps/desktop/src/main/ipc-handlers/bmad-handlers.ts
  apps/desktop/src/preload/api/bmad-api.ts
  apps/desktop/src/renderer/App.tsx
  apps/desktop/src/renderer/components/Sidebar.tsx
  apps/desktop/src/renderer/components/bmad/BmadKanbanBoard.tsx
  apps/desktop/src/renderer/components/bmad/BmadKanbanView.tsx
  apps/desktop/src/renderer/components/bmad/BmadPhaseProgress.tsx
  apps/desktop/src/renderer/components/bmad/BmadStoryCard.tsx
  apps/desktop/src/renderer/components/bmad/BmadStoryDetail.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadKanbanBoard.test.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadKanbanView.integration.test.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadPhaseProgress.test.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadStoryCard.test.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadStoryDetail.test.tsx
  apps/desktop/src/renderer/hooks/useBmadProject.ts
  apps/desktop/src/renderer/lib/browser-mock.ts
  apps/desktop/src/renderer/stores/__tests__/bmad-store.test.ts
  apps/desktop/src/renderer/stores/bmad-store.ts
  apps/desktop/src/shared/constants/ipc.ts
  apps/desktop/src/shared/i18n/locales/en/bmad.json
  apps/desktop/src/shared/i18n/locales/en/navigation.json
  apps/desktop/src/shared/i18n/locales/fr/bmad.json
  apps/desktop/src/shared/i18n/locales/fr/navigation.json
  apps/desktop/src/shared/types/__tests__/bmad-kanban-helpers.test.ts
  apps/desktop/src/shared/types/bmad-kanban-helpers.ts
  apps/desktop/src/shared/types/bmad.ts
Due: biome, typecheck

fix(bmad): Windows path handling — file-watcher classifyPath + variables normalize
  apps/desktop/src/main/ai/bmad/__tests__/workflow-runner.test.ts
  apps/desktop/src/main/ai/bmad/file-watcher.ts
  apps/desktop/src/main/ai/bmad/variables.ts
Due: biome, typecheck

chore(deps): update lockfile for jsdom bump
  package-lock.json
Due: none

chore(deps): update lockfile for lucide-react bump
  package-lock.json
Due: none

chore(deps): update lockfile for npm group bump
  package-lock.json
Due: none

chore(deps): update i18next peer for react-i18next
  apps/desktop/package.json
  package-lock.json
Due: biome

ci(deps): update GitHub Actions versions
  .github/workflows/beta-release.yml
  .github/workflows/build-prebuilds.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/welcome.yml
Due: none

chore(deps): bump typescript to 6.0.3
  apps/desktop/package.json
  apps/desktop/tsconfig.json
  package-lock.json
Due: biome

ci(deps): update GitHub Actions versions (#51)
  .github/workflows/beta-release.yml
  .github/workflows/build-prebuilds.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/welcome.yml
Due: none

feat(bmad): Phase 4 — Persona chat + bmad-help sidebar + install wizard + tutorial
  apps/desktop/docs/bmad-migration/DECISIONS.md
  apps/desktop/docs/bmad-migration/PHASE-4-NOTES.md
  apps/desktop/src/main/ipc-handlers/bmad-handlers.ts
  apps/desktop/src/preload/api/bmad-api.ts
  apps/desktop/src/renderer/components/bmad/BmadHelpSidebar.tsx
  apps/desktop/src/renderer/components/bmad/BmadInstallWizard.tsx
  apps/desktop/src/renderer/components/bmad/BmadKanbanView.tsx
  apps/desktop/src/renderer/components/bmad/BmadPersonaChat.tsx
  apps/desktop/src/renderer/components/bmad/BmadTutorialOverlay.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadHelpSidebar.test.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadInstallWizard.test.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadKanbanView.integration.test.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadPersonaChat.test.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadTutorialOverlay.test.tsx
  apps/desktop/src/renderer/lib/browser-mock.ts
  apps/desktop/src/renderer/stores/__tests__/bmad-store.test.ts
  apps/desktop/src/renderer/stores/bmad-store.ts
  apps/desktop/src/shared/i18n/locales/en/bmad.json
  apps/desktop/src/shared/i18n/locales/fr/bmad.json
  apps/desktop/src/shared/types/bmad.ts
Due: biome, typecheck

feat(bmad): Phase 5 customization, modules, migration
  ENGINE_SWAP_PROMPT.md
  README.md
  apps/desktop/COMPLETION_SUMMARY.md
  apps/desktop/README.md
  apps/desktop/VERIFICATION_SUMMARY.md
  apps/desktop/XSTATE_MIGRATION_SUMMARY.md
  apps/desktop/docs/bmad-migration/DECISIONS.md
  apps/desktop/docs/bmad-migration/PHASE-5-NOTES.md
  apps/desktop/docs/bmad-migration/REVIEWER-HANDOFF.md
  apps/desktop/package.json
  apps/desktop/src/main/ai/bmad/__tests__/manifest-loader.test.ts
  apps/desktop/src/main/ai/bmad/__tests__/migrator.test.ts
  apps/desktop/src/main/ai/bmad/manifest-loader.ts
  apps/desktop/src/main/ai/bmad/migrator.ts
  apps/desktop/src/main/ipc-handlers/bmad-handlers.ts
  apps/desktop/src/preload/api/bmad-api.ts
  apps/desktop/src/renderer/components/bmad/BmadCustomizationPanel.tsx
  apps/desktop/src/renderer/components/bmad/BmadKanbanView.tsx
  apps/desktop/src/renderer/components/bmad/BmadModuleManager.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadKanbanView.integration.test.tsx
  apps/desktop/src/renderer/components/settings/AppSettings.tsx
  apps/desktop/src/renderer/components/settings/ProjectSettingsContent.tsx
  apps/desktop/src/renderer/components/settings/sections/SectionRouter.tsx
  apps/desktop/src/renderer/lib/browser-mock.ts
  apps/desktop/src/shared/constants/ipc.ts
  apps/desktop/src/shared/i18n/locales/en/bmad.json
  apps/desktop/src/shared/i18n/locales/en/settings.json
  apps/desktop/src/shared/i18n/locales/fr/bmad.json
  apps/desktop/src/shared/i18n/locales/fr/settings.json
  apps/desktop/src/shared/types/bmad.ts
  package-lock.json
  package.json
Due: version-sync, biome, typecheck

fix(bmad): complete Phase 5 gate fixes
  apps/desktop/docs/bmad-migration/DECISIONS.md
  apps/desktop/docs/bmad-migration/PHASE-5-NOTES.md
  apps/desktop/src/main/ai/bmad/__tests__/migrator.test.ts
  apps/desktop/src/main/ai/bmad/migrator.ts
  apps/desktop/src/renderer/components/bmad/BmadCustomizationPanel.tsx
  apps/desktop/src/renderer/components/bmad/BmadModuleManager.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadCustomizationPanel.test.tsx
  apps/desktop/src/renderer/components/bmad/__tests__/BmadModuleManager.test.tsx
  apps/desktop/src/shared/i18n/locales/en/bmad.json
  apps/desktop/src/shared/i18n/locales/fr/bmad.json
Due: biome, typecheck
